.container {
  background-color: papayawhip;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}
body{
  background-color: lightsalmon;
}
form{
  font-family: comicsams;
  color: pink;
  font-size: 20px;
}

h1{
  font-family: comicsams;
  color:pink;
  font-size: 35px;
  text-align: center;
  text-decoration: 
}

p {
  font-family: comicsams;
  color: purple;
  font-size: 25px;
  text-align: center;
  
}
