  <h1>Bienvenido a Sinatra!</h1>
  <p>Este es un esqueleto de sinatra que armamos para ti</p>

    <form action='/cool_url' method='post'>
       Nombre:<br>
       <input type="text" name="firstname"><br><br>
       Last_name:<br>
       <input type="text" name="last_name"><br><br>
       Age:<br>
        <input type="text" name="age"><br><br>
        <input type="submit" value="Submit">
      </form><br><br>

   

    <form action='/cool_url' method='get'>
       Ocupation:<br>
        <input type="text" name="ocupation"><br><br>
        <input type="submit" value="Submit">
      </form><br><br>